    /*
    Flaticon icon font: Flaticon
    Creation date: 24/09/2018 04:43
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-worker:before { content: "\f100"; }
.flaticon-industry:before { content: "\f101"; }
.flaticon-industrial-robot:before { content: "\f102"; }
.flaticon-excavator:before { content: "\f103"; }
.flaticon-gears:before { content: "\f104"; }
.flaticon-agreement:before { content: "\f105"; }
.flaticon-planet-earth:before { content: "\f106"; }
    
    $font-Flaticon-worker: "\f100";
    $font-Flaticon-industry: "\f101";
    $font-Flaticon-industrial-robot: "\f102";
    $font-Flaticon-excavator: "\f103";
    $font-Flaticon-gears: "\f104";
    $font-Flaticon-agreement: "\f105";
    $font-Flaticon-planet-earth: "\f106";